// 变量
$col666: #666666;
$col999: #999999;
$colccc: #cccccc;
$col44c: #44c8ea;

// 头部
.kk-header {
    height: 80px;
    background: #2f2f2f;

    .logo {
        img {
            width: 90px;
            height: 32px;
            margin-top: 24px;
        }
    }

    .nav {
        line-height: 30px;
        margin: 25px 0 0 55px;

        a {
            display: inline-block;
            margin-right: 40px;
            color: #fff;

            &.cur {
                color: $col44c;
            }

            &:hover {
                color: $col44c;
            }
        }
    }

    .search {
        position: relative;
        width: 150px;
        background: #fff;
        padding: 0 15px;
        margin-top: 22px;
        border-radius: 30px;

        .ipt {
            width: 100%;
            height: 36px;
            line-height: 36px;
            border: 0;
        }

        .icon {
            position: absolute;
            right: 15px;
            top: 10px;
            background: url(../images/icons/sp-header.png) no-repeat;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

    .link {
        li {
            float: left;
            margin: 15px 0 0 30px;
            text-align: center;
            color: $colccc;

            i {
                background: url(../images/icons/sp-header.png) no-repeat;
                display: block;
                width: 28px;
                height: 23px;
                margin: 0 auto 5px;

                &.icon1 {
                    background-position: 0 -28px;
                }

                &.icon2 {
                    background-position: 0 -58px;
                }

                &.icon3 {
                    background-position: 0 -86px;
                }
            }

            a {
                color: $colccc;

                &:hover {
                    color: $col44c;
                }
            }
        }
    }
}

// 尾部
.kk-footer {
    background: #222;

    .link {
        margin-top: 30px;

        dl {
            margin-right: 70px;

            dt {
                height: 30px;
                color: $colccc;
            }

            dd {
                a {
                    line-height: 2;
                    padding-right: 8px;
                    color: $col666;
                    font-size: 12px;

                    &:hover {
                        color: $col44c;
                    }
                }
            }
        }
    }

    .qrcode {
        padding: 25px 0 15px 0;

        img {
            width: 110px;
            height: 110px;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }

    .copy-right {
        padding: 20px 0;
        border-top: 1px solid #333;
        color: $col666;
        font-size: 12px;
    }

}

// 广告图
.bg-home {
    background: url(../images/local/bg1920x360.jpg) center center;
    height: 360px;
}

/* 广告位 */
.ad-position {
    padding: 20px 0 0 0;

    img {
        float: left;
        display: block;
        width: 260px;
        height: 80px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

/* 标题 */
.title-common {
    font-size: 18px;
    color: $col999;

    .tit {
        padding-bottom: 5px;
        font-size: 30px;
        color: #111;
        font-weight: normal;
    }
}

/* 软件学习专题 */
.software-study {
    padding: 30px 0 10px 0;

    li {
        float: left;
        width: 143px;
        background: #fff;
        padding: 15px 0 15px 10px;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        margin-right: 20px;
        box-shadow: 0 5px 8px #ebebeb;

        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
}

/* 行业技能学习 */
.industry-skills {
    padding-bottom: 50px;

    li {
        float: left;
        width: 258px;
        background: #fff;
        padding-bottom: 15px;
        margin-right: 20px;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        box-shadow: 0 5px 8px #ebebeb;
        overflow: hidden;

        .img {
            width: 258px;
            height: 180px;
        }

        .pro {
            height: 40px;
            padding: 10px 15px;
        }

        .count {
            padding: 0 15px;
            font-size: 12px;
            color: $col999;
        }
    }
}

/* 大咖讲师 */
.lecturer-list {
    padding: 30px 0 10px 0;

    li {
        float: left;
        width: 178px;
        background: #fff;
        margin-right: 20px;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        box-shadow: 0 5px 8px #ebebeb;
        text-align: center;
        cursor: pointer;
        overflow: hidden;

        .img {
            width: 178px;
            height: 178px;
            margin-bottom: 15px;
        }

        .pos {
            padding: 5px 0 15px 0;
            font-size: 12px;
            color: $col999;
        }
    }
}

/* 客服 置顶 */
.service-topback {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 100;
    padding: 10px;

    .wrap {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px #ebebeb;

        .line {
            display: block;
            height: 1px;
            background: #f5f5f5;
            margin: 0 10px;
        }

        .item {
            display: block;
            width: 50px;
            padding: 10px;
            text-align: center;
            font-size: 12px;

            &.wx {
                i {
                    background-position: 0 0;
                }
            }

            &.qq {
                i {
                    background-position: 0 -24px;
                }
            }

            &.top {
                i {
                    background-position: 0 -50px;
                }
            }

            i {
                background: url(../images/icons/sp-service.png) no-repeat;
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-bottom: 5px;

            }
        }
    }
}

// 分页
.page-zone a {
    display: inline-block;
    background: #222;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    border: 1px solid #5d5d5d;
    color: #f0f0f0;
}

.page-zone a.cur,
.page-zone a:hover {
    border-color: #ffcc00;
    color: #ffcc00;
}

// loading
.loading-box {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=50);
    opacity: .5;
}

.loading-box i {
    position: fixed;
    left: 50%;
    top: 50%;
    background-image: url(../images/com/loading.gif);
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
}